body{
	background-color: #3882cd;
}
.header{
	background-color: #3882cd;
	color: #fff;
	padding-top: 20px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	line-height: 30px;
}
.row{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 90.5rem;
	font-family: 'Open Sans';
	color:#ffffff;
}
a{
	text-decoration: none;
	color:#fff;
}
.row .col-lg-4{
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: left;
}
.row .col-lg-8{
	position: relative;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
	float: right;
}
.heading{
	font: 'Open Sans Bold';
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}
.list-inline>li {
	list-style: none;
	float: right;
	margin-left: 1.375rem;
	display: block;
}
#desc{
	font-size: 25px;
}
#gameFrame{
	width:80%;
	height:70%;
}
.btn-primary{
	background: #3cbb76;
	border: 0;
}
.btn-primary:hover{
	background: #37ac6d;
	border: 0;
};